<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Item Catalog Application">
  <meta name="author" content="Clain Dsilva">

  <title>Item Catalog Application</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><h2>Catalog App</h2></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign in</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <h4 class="sidebar-heading">Browse Categories</h4>
          <ul class="nav flex-column">
            {% for cat in categories %}
            <li class="nav-item" >
              <a class="nav-link {% if category ==cat.name %} active {% endif %}" href="/catalog/{{cat.name}}/{{cat.id}}/view/">
                <i class="fas fa-book"></i>
                {{cat.name}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Delete - [ {{ product.name }} ]</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <form action="" method="post">
              <input type="hidden" name="hidProductID" id="hidProductID" value="{{ product.id }}">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Deleted !</h4>
                {{ message }}
              </div>
              {% endfor %}
              {% else %}
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Confirm delete !</h4>
                <p>Are you sure that you want to delete the product <strong>{{ product.name }}</strong>?</p>
                <hr>
                <div class="text-right">
                  <div class="btn-group">
                    <button class="btn btn-md btn-secondary" type="reset">Cancel</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-md btn-danger" type="submit">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

          </div>
        </main>
      </div>
    </div>

    <div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="appModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='catlog-app.script-engine.0.1.js')}}"></script>
  </body>
  </html>
