<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Item Catalog Application">
  <meta name="author" content="Clain Dsilva">
  <meta name="google-signin-client_id" content="1025691267123-e6t6e1ninv0vfh8a46mm18vlvmgvgbrn.apps.googleusercontent.com">

  <title>Item Catalog Application</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  <!-- FontAwesome library for icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark  bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/catalog/"><h2>Catalog App</h2></a>
  </nav>

  <div class="container-fluid">
    <div class="row">
          <div class="col-md-2 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <br>
                <form class="form-signin">
                  <hr class="my-12">
                  <div id="my-signin2"></div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='catlog-app.script-engine.0.1.js')}}"></script>
  <script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.

          if (result) {
            // replace the signin
            $('.card-body').html('Login Successful!</br>'+ result + '</br>Redirecting...');
           setTimeout(function() {
            window.location.href = "/catalog";
           }, 4000);

        } else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
    } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }

    }); } }

    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'openid email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'redirecturi': 'postmessage',
        'accesstype': 'offline',
        'cookiepolicy':'single_host_origin',
        'callback':'signInCallback',
        'approvalprompt':'force',
        'onsuccess': signInCallback,
        'onfailure': signInCallback

      });
    }

  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>
